{% block title %}Profile{% endblock %}

{% block body %}
    {% include ('navbar/navbar.html.twig' )%}
    <h1>Your Profile</h1>
    <p>Username: {{ username }}</p>
    <p>Email: {{ email }}</p>
    <a href="{{ path ('change_pwd') }}">Change your password</a>

{% endblock %}