{% block title %}Payment Success{% endblock %}
{% block body %}
    <h1>Payment Successful!</h1>
    <p>Your games have been added to your library. Thank you for your purchase!</p>
    <a href="{{ path('profile_library') }}">Go to My Library</a>
{% endblock %}
