<h1>Admin Dashboard</h1>
<div>
    <p>Total Users: {{ totalUsers }}</p>
</div>

<div>
    <h2>Administrative Actions</h2>
    <ul>
        <li><a href="{{ path('user_management') }}">Manage Users</a></li>
        <li><a href="{{ path('game_management') }}">Manage Games</a></li>
        <li><a href="{{ path('review_management') }}">Manage Reviews</a></li>
    </ul>
</div>
