<h1>Your Wishlist</h1>

{% for wishlist in wishlists %}
    <div>
        <h3>{{ wishlist.game.title }}</h3>
        <p>{{ wishlist.game.description }}</p>
        <a href="{{ path('remove_wishlist', { title: wishlist.game.title }) }}">Remove</a>
    </div>
{% endfor %}
